fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.12
pydantic==2.9.2
pydantic-settings==2.5.2
python-dotenv==1.0.1
torch==2.4.1
torchvision==0.19.1
pillow==10.4.0
numpy==1.26.4
slowapi==0.1.9
pymongo==4.9.0

# Optional tools for training
# pandas==2.2.3
# scikit-learn==1.5.2
